*.sh text eol=lf
*.bat text eol=crlf
*.bmp binary
*.dds binary
*.gif binary
*.jpg binary
*.pbm binary
*.pgm binary
*.png binary
*.ppm binary
Tools/Support/FilCOpenSSL365.patch whitespace=-blank-at-eol,-space-before-tab
