tr.markdownTableRowOdd {
    background-color: var(--odd-color);
}
table.markdownTable tr
{
    border-bottom: none;
}

table.markdownTable td, table.markdownTable th
{
    border: none;
}

table.markdownTable tbody
{
    border-radius: 0;
    box-shadow: none;
}
th.markdownTableHeadLeft:first-child
{
    border-top-left-radius: 0;
}
th.markdownTableHeadLeft:last-child
{
    border-top-right-radius: 0;
}