name: Windows

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        config: [ Debug, Release ]
        params: [ { os: windows-2022, generator: vs2022 },
                  { os: windows-2025, generator: vs2022 } ]
    runs-on: ${{ matrix.params.os }}
    timeout-minutes: 12

    steps:
    - uses: actions/checkout@v4
    # Install 7zip just to check that links are still valid
    - name: package install 7zip
      shell: cmd
      run: SC.bat package install 7zip
    - name: Generate Single File Libs (Python)
      run: python3 Support/SingleFileLibs/python/amalgamate_single_file_libs.py
    - name: configure SCTest
      shell: cmd
      run: SC.bat build configure SCTest ${{ matrix.config }} ${{ matrix.params.generator }}
    - name: configure SCSingleFileLibs
      shell: cmd
      run: SC.bat build configure "SCSingleFileLibs:" ${{ matrix.config }} ${{ matrix.params.generator }}
    - name: compile SCSingleFileLibs
      shell: cmd
      run: SC.bat build compile "SCSingleFileLibs:" ${{ matrix.config }} ${{ matrix.params.generator }}
    - name: compile SCTest
      shell: cmd
      run: SC.bat build compile SCTest ${{ matrix.config }} ${{ matrix.params.generator }}
    - name: compile InteropSTL
      shell: cmd
      run: SC.bat build compile InteropSTL ${{ matrix.config }} ${{ matrix.params.generator }}
    - name: test SCTest
      shell: cmd
      run: SC.bat build run SCTest ${{ matrix.config }} ${{ matrix.params.generator }} -- --all-tests
    - name: test InteropSTL
      shell: cmd
      run: SC.bat build run InteropSTL ${{ matrix.config }} ${{ matrix.params.generator }}
